---
import { Image } from 'astro:assets';
import logo from '@assets/images/upb-logo.webp';
---

<div
  class="flex items-center justify-center w-full h-20 rounded-lg bg-white/30 backdrop-blur-lg border shadow-sm mb-4"
>
  <div class="size-16">
    <Image
      src={logo}
      alt="Universitas Pelita Bangsa"
      decoding="async"
      loading="eager"
      class="object-cover w-full h-full"
      draggable="false"
    />
  </div>
</div>
